{% extends 'base.html' %}

{% load pagination_tags %}

{% block content %}
{% autopaginate pipelines 2 %}

{% for pp in pipelines  %}
<div class="row">
    <div class="card-deck">
        {% for p in pp %}
        <div class="col-sm-6 mb-4">
            <div class="card border-primary" style="width: 35rem; height: 15rem;">
                <div class="card-header bg-primary lead"><a href="{{ p.url }}" target="_blank" class="text-white"> {{ p.short_url }}</a></div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title">{{ p.id }}</h4>
                    <p class="card-text">{{ p.description }}</p>
                </div>
                <div class="card-footer bg-secondary text-right">
                    <button class="btn btn-primary" onclick="goto('{{ p.id }}');">Setup & Deploy</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
<div>
{% paginate %}
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-body">
            <h1>Wait while loading...</h1>
            <div class="spinner-border text-info"
                 style="width: 5rem; height: 5rem;"
                 role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h3>It may take a long time</h3>
        </div>
    </div>
</div>
<script>
    $('#spinnerModal').modal('hide');
    function goto(id) {
        $('#spinnerModal').modal('show');
        window.location.href = "/pipelines/"+id+"/setup";
    }
</script>

{% endblock %}

