{% extends 'base.html' %}

{% load pagination_tags %}

{% block content %}
{% autopaginate pipelines 2 %}

{% for pp in pipelines  %}
<div class="row">
    <div class="card-deck">
        {% for p in pp %}
        <div class="col-sm-6 mb-4">
            <div class="card border-primary" style="width: 35rem; height: 15rem;">
                <div class="card-header"><h5><a href="{{ p.url }}" target="_blank"> {{ p.short_url }}</a></h5></div>
                <div class="card-body">
                    <h4 class="card-title">{{ p.id }}</h4>
                    <p class="card-text">{{ p.description }}</p>
                </div>
                <div class="card-footer bg-light">
                    <a class="btn btn-primary" href="/pipelines/{{ p.id }}/setup">Setup & Deploy</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
<div>
{% paginate %}
</div>


{% endblock %}

