{% extends 'base.html' %}

{% block content %}
<div class="card text-white border {% if result.success %} border-success {% else %} border-danger {% endif %}">
    <div class="card-header {% if result.success %} bg-success {% else %} bg-danger {% endif %}">
        <h5>Deployment of Pipeline <kbd>{{ pipeline.id }}</kbd> with Profile <kbd>{{ profile.id }}</kbd>
        </h5>
    </div>
    <div class="card-body">
        <h4 class="card-title {% if result.success %} text-success {% else %} text-danger {% endif %}">
            {% if result.success %} Successful! {% else %} Failed! {% endif %}</h4>
        <div class="card-text"><br/>
            {{ result.last_row }}
        </div>
        <div class="card-footer pull-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#ModalLog">View details</button>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalLog" tabindex="-1" role="dialog" aria-labelledby="ModalLogTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLogTitle">Logging</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% for row in result.stdout_data %}
            <div class="row"><pre class="small">{{ row }}</pre></div>
          {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}