<!doctype html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>solida</title>
</head>
<header class="border-bottom">
    <div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-sm-6">
            <img src="{% static "images/CRS4-colori-small.png" %}" alt="crs4-logo">
        </div>
        <div class="col-sm-6 text-right mt-4">
        <div class="btn-group" role="group" aria-label="Main Menu">
            <a href="{% url 'home' %}"
               class="btn btn-primary  border-light {% if request.path == '/' %} active {% endif %}">Home</a>
            <div class="btn-group" role="group">
                <button id="btnGroupPipelines" type="button"
                        class="btn btn-primary border-light  dropdown-toggle {% if 'pipelines' in request.path %} active{% endif %}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Pipelines
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                    <a class="dropdown-item {% if 'browse' in request.path %} text-info {% endif %}"
                       href="{% url 'pipelines.browse' %}">Browse</a>
                    <a class="dropdown-item {% if 'add_new' in request.path %} text-info {% endif %}"
                       href="{% url 'pipelines.add_new' %}">Add new</a>
                    <a class="dropdown-item" href="#" onclick="refresh()">Refresh</a>
                </div>
            </div>
            <a class="btn btn-primary border-light {% if 'docs' in request.path %} active {% endif %}"
               target="_blank"  href="https://solida-core.github.io/docs/">Docs</a>
            <a class="btn btn-primary border-light {% if 'about' in request.path %} active {% endif %}"
               target="_blank" href="http://next.crs4.it/">About</a>
        </div>
        </div>
    </div>
</div>
</header>
<body >
<div id="solida-gui" class="container">
    <div class="row justify-content-center mt-3">
        {% block content %}(no content){% endblock %}
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-body">
            <h1 class="text-white">Wait while loading...</h1>
            <div class="spinner-border text-info"
                 style="width: 5rem; height: 5rem;"
                 role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h3 class="text-white">It may take a long time</h3>
        </div>
    </div>
</div>
<script>
function refresh() {
    href="{% url 'pipelines.refresh' %}";
    $('#spinnerModal').modal('show');
    window.location.href = href;
}
</script>
</body>
</html>