<!doctype html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>solida</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown {% if 'pipelines' in request.path %} active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPipelines" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pipelines
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarPipelines">
                        <a class="dropdown-item" href="{% url 'pipelines.browse' %}">Browse</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Adda new</a>
                    </div>
                </li>
                 <li class="nav-item dropdown {% if 'profiles' in request.path %} active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProfiles" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profiles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarProfiles">
                        <a class="dropdown-item" href="#">Browse</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Adda new</a>
                    </div>
                </li>
                 <li class="nav-item {% if 'docs' in request.path %} active{% endif %}">
                    <a class="nav-link" href="#">Docs <span class="sr-only">(current)</span></a>
                </li>
                 <li class="nav-item {% if 'about' in request.path %} active{% endif %}">
                    <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>
<body>
<div id="solida-gui" class="container">
    <div class="row justify-content-center" style="padding-top:20px;">
        {% block content %}(no content){% endblock %}
    </div>
</div>
<div class="bg-700" style="margin-top:35px; margin-bottom:0; padding-bottom:15px;">
    <div class="container text-center text-xs">
        <div>
            <img src="{% static "images/CRS4-colori-small.png" %}" alt="crs4-logo">
        </div>
<!--        &lt;!&ndash;<div style="margin-top:5px; margin-bottom:5px;"><h7>NEXT GENERATION SEQUENCING CORE</h7></div>&ndash;&gt;-->
<!--        <div><div><h6><span style="line-height:5px;margin-top:50px;margin-right:10px;">Powered by Bika Lab Systems</span>&nbsp;<img src="assets/img/logos/logo_bika_footer.png"></h6></div><div></div></div>-->
    </div>
</div>
</body>
</html>